<div id="instructions" class="container">

    <div class="section-title section-title-white">
        <div class="section-title__square"></div>
        <h2 class="section-title__text">Follow your strength</h2>
    </div>
    <div class=" instructions">
        <div class="instructions__instruction one">
            <div class="instructions__instruction__number">1</div>
            <h3 class="instructions__instruction__title">Create your training plan.</h3>
            <div class="instructions__instruction__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis voluptate, quae nostrum sequi consequuntur ratione sunt adipisci. Consectetur, nobis
                provident!</div>
        </div>
        <div class="instructions__instruction two">
            <div class="instructions__instruction__number">2</div>
            <h3 class="instructions__instruction__title">Write down your training results.</h3>
            <div class="instructions__instruction__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Excepturi, corporis!</div>
        </div>
        <div class="instructions__instruction three">
            <div class="instructions__instruction__number">3</div>
            <h3 class="instructions__instruction__title">Lorem, ipsum dolor.</h3>
            <div class="instructions__instruction__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatum, exercitationem nisi repellat modi unde facere laudantium eveniet?</div>
        </div>
        <div class="instructions__instruction four">
            <div class="instructions__instruction__number">4</div>
            <h3 class="instructions__instruction__title">Lorem, ipsum dolor.</h3>
            <div class="instructions__instruction__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptatum, exercitationem nisi repellat modi unde facere laudantium eveniet?</div>
        </div>
    </div>
</div>