@use "../../../../styles/utilities/index";

:host {
  .radios {
    display: flex;
    flex-direction: row;
    gap: index.$medium;
  }
}

@media (min-width: index.$large-width) {
  :host {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    min-height: 50vh;
  }
}
