@use "../../../../styles/utilities/index";

:host {
  position: fixed;
  display: block;
  width: 100%;
  background-color: index.$black;
  color: index.$white;
  text-transform: capitalize;
  padding: 8px index.$xsmall;
  box-shadow: index.$bottom-shadow;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      font-size: index.$small;
      font-weight: 500;
      color: index.$white;
      letter-spacing: 2px;
      text-decoration: none;
      cursor: pointer;
    }

    .burger-icon {
      font-size: index.$large;
      display: grid;
      width: 52px;
      height: 52px;
      place-items: center;
      cursor: pointer;
    }

    .menu {
      display: none;
      flex-direction: row;
      z-index: 10;
      &__element {
        font-size: index.$xsmall;
        padding: index.$xsmall;
        color: index.$white;
        text-decoration: none;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;

        @include index.nav-hover-transition(index.$white);

        &--active {
          background-color: index.$white;
          color: index.$black;
          @include index.nav-hover-transition(index.$black);
        }
      }
      &__link {
        text-decoration: none;
        color: index.$white;
      }
      &__dropdown {
        position: relative;
        overflow: visible;
        z-index: 10;
        &:hover {
          .menu__dropdown--content {
            display: block;
          }
        }

        &--content {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: index.$black;
          box-shadow: index.$shadow;
          z-index: 20;
          a {
            display: block;
            text-decoration: none;
            color: index.$white;
            padding: index.$xsmall;
            text-align: center;
            border-top: 2px solid index.$white;
            transition: background-color 0.2s ease, color 0.2s ease;
            &:hover,
            &:focus-visible {
              background-color: index.$white;
              color: index.$black;
            }
            &:first-child {
              border-top: none;
            }
          }
        }
      }
      &__profile {
        display: flex;
        align-items: center;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
        }
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

.unclickable {
  cursor: default;
}

@media (min-width: 768px) {
  :host {
    padding: 0 index.$xsmall;
    .container {
      .menu {
        display: flex;
      }
      .burger-icon {
        display: none;
      }
    }
  }
}

@media (max-width: 380px) {
  :host .container .logo__title {
    display: none;
  }
}

@media (min-width: 1024px) {
  :host {
    .container {
      .logo {
        font-size: index.$medium;
      }
      .menu {
        &__element {
          font-size: index.$small;
        }
      }
    }
  }
}
