<div class="container">

    <div class="section-title section-title-dark">
        <div class="section-title__square"></div>
        <h2 class="section-title__text">Check your strength</h2>
    </div>
    <div class="calculators-container">
        <div class="image">

        </div>

        <div class="calculators">
            <p class="description">
                Check your physical fitness using the indicators below
            </p>
            <div class="calculator">
                <div class="calculator__number">1</div>
                <h3 class="calculator__title">Wilks calculator</h3>
                <p class="calculator__description">Calculate your strength relative to your body weight and see how you
                    compare to others.</p>
                <a href="" class="calculator__go-button" routerLink="/calculators/wilks" routerLinkActive="active">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>

            <div class="calculator">
                <div class="calculator__number">2</div>
                <h3 class="calculator__title">1 rep max calculator</h3>
                <p class="calculator__description">Estimate the maximum weight you can lift for one rep and track your
                    progress over time.</p>
                <a href="" class="calculator__go-button" routerLink="/calculators/one-rep-max"
                    routerLinkActive="active">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>

            <div class="calculator">
                <div class="calculator__number">3</div>
                <h3 class="calculator__title">Weightlift standards</h3>
                <p class="calculator__description">Compare your lifts to average standards in your weight category and
                    set
                    new goals.</p>
                <a href="" class="calculator__go-button" routerLink="/calculators/standards" routerLinkActive="active">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>

    </div>

</div>