/* You can add global styles to this file, and also import other style files */
@use "./utilities/index";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
}
button {
  font-family: "Oswald", sans-serif;
}

router-outlet {
  display: none;
}

.small-container {
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.large-container {
  max-width: 1600px;
  margin: 0 auto;
}

.section-title {
  display: flex;
  align-items: center;
  margin: index.$medium;
  &__square {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: index.$small;
    box-shadow: index.$shadow;
    background-color: index.$black;
  }
  &__text {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: index.$shadow;
  }

  &-dark {
    color: index.$black;
    div {
      background-color: index.$black;
    }
  }
  &-white {
    color: index.$white;
    div {
      background-color: index.$white;
    }
  }
}

@media (min-width: 1024px) {
  .section-title {
    margin: index.$large;
    &__square {
      margin-right: index.$small;
    }
    &__text {
      font-size: index.$large;
    }
  }
}

.box {
  background-color: index.$white;
  padding: index.$small;
  box-shadow: index.$shadow;
  margin: index.$small 0;
  &__title {
    font-size: index.$medium;
  }
  &__description {
    font-size: index.$small;
  }
}

@media (min-width: 768px) {
  .box {
    margin: index.$small index.$small;
  }
}

.form-box {
  &__form {
    display: flex;
    flex-direction: column;
    padding-top: index.$xsmall;
    & > * {
      margin-bottom: index.$xsmall;
    }
  }

  &__inputs {
    display: flex;
    label {
      font-weight: 500;
      padding-right: index.$xsmall;
      font-size: index.$small;
    }
    input {
      flex: 1;
    }
    .select-weight {
      border-radius: 0;
      border: none;
      padding-left: 10px;
    }
    .select-gender {
      border-radius: 0;
      border: 1px solid index.$black;
      background-color: index.$white;
      padding-left: 10px;
    }
  }
}

.btn {
  color: index.$white;
  background-color: index.$black;
  border: none;
  text-transform: uppercase;
  font-size: index.$xsmall;
  padding: index.$xsmall/2 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.required {
  &::after {
    content: "*";
    font-weight: 500;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}
