<div class="container">
    <a class="logo" routerLink="/" routerLinkActive="active">
        <i class="fa-solid fa-dumbbell"></i> <span class="logo__title"> WORKPLANNER</span>
    </a>
    <div class="icons">
        <a href="https://github.com/miksiu120" target="blank">
            <i class="fa-brands fa-github-alt"></i>
        </a>
        <a _href="https://github.com/miksiu120" target="blank">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/miksiu120" target="blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
    </div>
</div>