<div class="container">

    <a class="logo" routerLink="/" routerLinkActive="active">
        <i class="fa-solid fa-dumbbell"></i> <span class="logo__title"> WORKPLANNER</span>
    </a>

    <div class="menu">
        <div class="menu__element menu__dropdown">
            <a class="menu__link" routerLink="/calculators" routerLinkActive="active">Calculators</a>
            <div class="menu__dropdown--content">
                <a routerLink="/calculators/wilks" routerLinkActive="active">Wilks Calculator</a>
                <a routerLink="/calculators/standards" routerLinkActive="active">Weightlift standards</a>
                <a routerLink="/calculators/one-rep-max" routerLinkActive="active">One-Rep Max</a>
            </div>
        </div>
        <a class="menu__element" routerLink="/login" routerLinkActive="active">Sign in</a>
        <a class="menu__element menu__element--active" routerLink="/register" routerLinkActive="active">Sign up</a>
    </div>

    <div (click)="toggleBurger()" class="burger-icon">
        <i class="fa-solid fa-bars"></i>
    </div>
</div>
<burger-menu (toggleBurger)="toggleBurger()" [isBurgerActive]="isBurgerActive">
</burger-menu>