@use "../../../../styles/utilities/index";

:host {
  position: fixed;
  display: block;
  width: 100%;
  background-color: index.$black;
  color: index.$white;
  text-transform: capitalize;
  z-index: 250;
  padding: index.$xsmall/2 index.$xsmall;
  box-shadow: index.$bottom-shadow;
  z-index: 100;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-size: index.$small;
      font-weight: 500;
      color: index.$white;
      letter-spacing: 2px;
      text-decoration: none;
      cursor: pointer;
    }

    .burger-icon {
      font-size: index.$large;
      padding: index.$xsmall;
      cursor: pointer;
    }

    .menu {
      display: none;
      flex-direction: row;
      z-index: 10;
      &__element {
        font-size: index.$xsmall;
        padding: index.$xsmall;
        color: index.$white;
        text-decoration: none;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;

        @include index.nav-hover-transition(index.$white);

        &--active {
          background-color: index.$white;
          color: index.$black;
          @include index.nav-hover-transition(index.$black);
        }
      }
      &__link {
        text-decoration: none;
        color: index.$white;
      }
      &__dropdown {
        position: relative;
        overflow: visible;
        z-index: -10;
        &--content {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: index.$black;
          box-shadow: index.$shadow;
          z-index: -10;
          a {
            display: block;
            text-decoration: none;
            color: index.$white;
            padding: index.$xsmall;
            text-align: center;
            border-top: 2px solid index.$white;
            &:first-child {
              border-top: none;
            }
          }
        }
        &:hover {
          .menu__dropdown--content {
            display: block;
            top: -100%;
            animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
              both;
          }
        }
      }
    }
  }
}



@media (min-width: 768px) {
  :host {
    padding: 0 index.$xsmall;
    .container {
      .menu {
        display: flex;
      }
      .burger-icon {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  :host {
    .container {
      .logo {
        font-size: index.$medium;
      }
      .menu {
        &__element {
          font-size: index.$small;
        }
      }
    }
  }
}
