<ul class="side-nav">
    <li class="side-nav__element">
        <a href="" class="side-nav__link" routerLink="/training-panel/dashboard" routerLinkActive="active">
            <i class="fa-solid fa-table-columns"></i>
            <!-- <span class="side-text">Dashboard</span> -->
        </a>
    </li>
    <li class="side-nav__element">
        <a href="" class="side-nav__link" routerLink="/training-panel/statistics" routerLinkActive="active">
            <i class="fa-solid fa-chart-line"></i>
            <!-- <span class="side-text">Statistics </span> -->
        </a>
    </li>
    <li class="side-nav__element">
        <a href="" class="side-nav__link" routerLink="/training-panel/trainings" routerLinkActive="active">
            <i class="fa-solid fa-person-walking"></i>
            <!-- <span class="side-text">Your Trainings</span> -->
        </a>
    </li>
    <!-- <li class="side-nav__element">
        <a href="" class="side-nav__link" routerLink="/training-panel/trainings" routerLinkActive="active">
        <i class="fa-regular fa-calendar-check"></i>
        <span class="side-text">Available plans</span>
        </a>
    </li> -->
</ul>