@use "../../../../styles/utilities/index";

:host {
  position: fixed;
  display: flex;
  bottom: 0%;
  background-color: index.$black;
  color: index.$white;
  width: 100vw;
  box-sizing: index.$top-shadow;
  z-index: 123;

  .side-nav {
    &__element {
      flex: 1;
      display: flex;
      justify-content: center;
      position: relative;
      padding: index.$small index.$medium;
      font-size: index.$medium;
      font-weight: 200;
      text-decoration: none;
      transition: 0.3s background-color ease-in-out;
      cursor: pointer;
      i {
        padding: index.$xsmall/2;
        color: index.$white;
      }
      &:hover {
        background-color: index.$ligther-black;
      }
    }
  }

  transition: 0.3s width ease-in-out;
  .side-text {
    left: -200%;
    position: relative;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
  }
  &:hover {
    .side-text {
      left: 0%;
      display: block;
      opacity: 1;
      animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
}

@media (min-width: 960px) {
  :host {
    width: auto;
    flex-direction: column;
    bottom: 50%;
    transform: translateY(50%);
    .side-nav {
      &__element {
        flex-direction: column;
      }
    }
  }
}
