<ul class="side-nav">
    <li class="side-nav__element">
        <i class="fa-solid fa-table-columns"></i>
        <!-- <span class="side-text">Dashboard</span> -->
    </li>
    <li class="side-nav__element">
        <i class="fa-solid fa-chart-line"></i>
        <!-- <span class="side-text">Statistics </span> -->
    </li>
    <li class="side-nav__element">
        <i class="fa-solid fa-person-walking"></i>
        <!-- <span class="side-text">Your Trainings</span> -->
    </li>
    <li class="side-nav__element">
        <i class="fa-regular fa-calendar-check"></i>
        <!-- <span class="side-text">Available plans</span> -->
    </li>
</ul>