@mixin nav-hover-transition($color) {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 2px;
    background-color: $color;
    transition: left 0.4s ease-in-out;
  }

  &::before {
    left: 100%;
  }

  &::after {
    left: -50%;
  }

  &:hover {
    &::before {
      left: 50%;
    }

    &::after {
      left: 0;
    }
  }
}

@mixin object-background($color, $width, $height) {
  &::after {
    content: " ";
    position: absolute;
    width: $width;
    height: $height;
    background-color: $color;
    top: -24px;
    left: -24px;
    z-index: -1;
  }

  &:hover {
    &::after {
      top: 0;
      left: 0;
    }
  }
}
