/* You can add global styles to this file, and also import other style files */
@use "./utilities/index";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
}
button {
  font-family: "Oswald", sans-serif;
}

.small-container {
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.large-container {
  max-width: 1600px;
  margin: 0 auto;
}

.section-title {
  display: flex;
  align-items: center;
  margin: index.$medium;
  &__square {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: index.$small;
    box-shadow: index.$shadow;
  }
  &__text {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: index.$shadow;
  }

  &-dark {
    color: index.$black;
    div {
      background-color: index.$black;
    }
  }
  &-white {
    color: index.$white;
    div {
      background-color: index.$white;
    }
  }
}

.box {
  background-color: index.$white;
  padding: index.$small;
  margin: index.$xsmall;
  box-shadow: index.$shadow;
}

@media (min-width: 1024px) {
  .section-title {
    margin: index.$large;
    &__square {
      margin-right: index.$small;
    }
    &__text {
      font-size: index.$large;
    }
  }
}
