<div class="container">

    <div class="shadow"></div>

    <h2 class="title">BEGIN YOUR JOURNEY TODAY
        AND START PLANNING YOUR TRAINING</h2>
    <div class="description">
        <p>Start planning and following your gym progress and results with our intuitive web application. Track your
            workouts, analyze your performance, and stay motivated with detailed insights. Also, try our calculators to
            check how strong you are and set new personal records!</p>

    </div>
    <a href="#instructions" class="start-button">START</a>
</div>