@use "../../../../../styles/utilities/index";

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: index.$black;
  color: index.$white;
  z-index: -1;

  &__element {
    font-size: index.$large;
    padding: index.$medium;
    margin-top: index.$small;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: index.$white;
    cursor: pointer;
    @include index.nav-hover-transition(index.$white);
  }

  &__trigger {
    width: 100%;
    border: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    text-transform: inherit;
    cursor: pointer;
  }

  &__dropdown {
    &--content {
      display: flex;
      flex-direction: column;
      a{
        color: index.$white;
        text-decoration: none;
        font-size: index.$medium;
        padding: index.$xsmall;
      }
    }
  }
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
