@use "../../../styles/utilities/index";

:host {
  display: block;
  background-color: index.$black;

  .container {
    background-color: index.$white;
    min-height: 90vh;
    display: grid;

    .side-bar {
      display: none;
    }

    .register {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: center;
      padding: index.$medium;
      padding-top: index.$xlarge * 2;

      &__text {
      border-bottom: index.$medium;
      }

      &__title {
        font-size: index.$large;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: index.$black;

        > * {
          margin-bottom: index.$xsmall;
        }

        .form-group {
          display: flex;
          flex-direction: column;
        }

        input {
          font-size: index.$xsmall;
          padding: calc(index.$xsmall / 2);
          border: 2px solid index.$black;
          transition: border-bottom 0.4s ease-in;

          &:focus {
            border: none;
            border-bottom: 3px solid rgb(0, 0, 0);
          }
        }

        .btn {
          padding: calc(index.$xsmall / 1.5);
          color: index.$white;
          background-color: index.$black;
          border: none;
          text-transform: uppercase;
          text-align: center;
          font-size: index.$xsmall;
          font-weight: 500;
          cursor: pointer;
          border: 1px solid index.$white;
          transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;

          &:hover {
            background-color: index.$white;
            color: index.$black;
            border: 1px solid index.$black;
          }
        }

        .question {
          position: relative;
          text-align: center;

          &::before,
          &::after {
            content: "";
            width: 50px;
            height: 1px;
            background-color: index.$black;
            position: absolute;
            top: 50%;
          }

          &::before {
            left: 0%;
          }

          &::after {
            right: 0%;
          }
        }

        label {
          color: index.$black;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  :host {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: 1fr;

      .side-bar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("/gym-2793007_1280.jpg");
        background-size: cover;
        background-position: 65% 10%;
        background-repeat: no-repeat;
        color: index.$white;
        z-index: 1;

        .title {
          text-align: center;
          font-size: index.$large;
          text-shadow: index.$shadow;
          padding: index.$medium index.$xlarge;
        }

        .shadow {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgb(0, 0, 0);
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.87) 0%,
            rgba(51, 51, 51, 0.1) 100%
          );
          z-index: -1;
        }
      }

      .register {
        padding: index.$xlarge;

        &__title {
          font-size: index.$large;
          text-shadow: index.$shadow;
        }

        &__description {
          font-size: index.$small;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  :host {
    .container {
      .side-bar {
        .title {
          font-size: index.$xlarge;
        }
      }
    }
  }
}
