<a
  class="side-nav__element side-nav__link"
  routerLink="/dashboard/training-panel"
  routerLinkActive="active"
  aria-label="Dashboard"
  title="Dashboard"
>
  <i class="fa-solid fa-table-columns" aria-hidden="true"></i>
</a>
<a
  class="side-nav__element side-nav__link"
  routerLink="/dashboard/statistics"
  routerLinkActive="active"
  aria-label="Statistics"
  title="Statistics"
>
  <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
</a>
<a
  class="side-nav__element side-nav__link"
  routerLink="/dashboard/trainings"
  routerLinkActive="active"
  aria-label="Training plans"
  title="Training plans"
>
  <i class="fa-solid fa-person-walking" aria-hidden="true"></i>
</a>
