<a href="" class="side-nav__element side-nav__link" routerLink="/dashboard/training-panel" routerLinkActive="active">
    <i class="fa-solid fa-table-columns"></i>
    <!-- <span class="side-text">Dashboard</span> -->
</a>
<a href="" class=" side-nav__element side-nav__link" routerLink="/dashboard/statistics" routerLinkActive="active">
    <i class="fa-solid fa-chart-line"></i>
    <!-- <span class="side-text">Statistics </span> -->
</a>
<a href="" class=" side-nav__element side-nav__link" routerLink="/dashboard/trainings" routerLinkActive="active">
    <i class="fa-solid fa-person-walking"></i>
    <!-- <span class="side-text">Your Trainings</span> -->
</a>