<div class="container">
    <div class="stages box">
        <div class="stages__block"></div>
        <div class="stages__stage completed">

            <span class="completed">
                <i class="fa-solid fa-check"></i>
            </span>
            Create exercises
        </div>
        <div class="stages__stage active">
            <span class="actual">
                <i class="fa-solid fa-location-pin"></i>
            </span>
            Compose training unit
        </div>
        <div class="stages__stage unactive">Set training dates</div>

    </div>
    <component-create-exercises></component-create-exercises>
</div>