@use "../../../../styles/utilities/index";
:host {
  @include index.box-display(index.$light-grey);
  .form-box {
    

    &__form {
      display: flex;
      flex-direction: column;
      padding-top: index.$xsmall;
      & > * {
        margin-bottom: index.$xsmall;
      }
    }

    &__inputs {
      display: flex;
      label {
        font-weight: 500;
        padding-right: index.$xsmall;
        font-size: index.$small;
      }
      input {
        flex: 1;
        //padding: index.$xsmall/2 0;
      }
      select {
        border-radius: 0;
        border: none;
        padding-left: 10px;
      }
    }

  
  }

  .result-box {
    display: flex;
    flex-direction: column;
    table {
      text-align: center;
      margin-top: index.$small;
      tbody {
        tr {
          &:nth-child(2n) {
            background-color: index.$light-grey;
          }

          td {
            padding: calc(index.$xsmall/2) 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  :host {
    .form-box {
      button {
        align-self: flex-start;
        padding: index.$xsmall/2 index.$xlarge * 2;
      }
    }
    .result-box {
      table {
        thead {
          font-size: index.$small;
        }
      }
    }
  }
}
