@use "../../../../styles/utilities/index";
:host {
  display: block;
  background-color: index.$light-grey;
  .container {
    max-width: 1000px;
    padding: index.$xlarge * 2 index.$xsmall;
  }
  .form-box {
    &__title {
      font-size: index.$medium;
    }
    &__description {
      font-size: index.$small;
    }

    &__form {
      display: flex;
      flex-direction: column;
      padding-top: index.$xsmall;
      & > * {
        margin-bottom: index.$xsmall;
      }
    }

    &__inputs {
      display: flex;
      label {
        font-weight: 500;
        padding-right: index.$xsmall;
        font-size: index.$small;
      }
      input {
        flex: 1;
        //padding: index.$xsmall/2 0;
      }
      select {
        border-radius: 0;
        border: none;
        padding-left: 10px;
      }
    }

    button {
      padding: index.$xsmall/2 0;
    }
  }

  .result-box {
    display: flex;
    flex-direction: column;
    table {
      text-align: center;
      margin-top: index.$small;
      tbody {
        tr {
          &:nth-child(2n) {
            background-color: index.$light-grey;
          }

          td {
            padding: calc(index.$xsmall/2) 0;
          }
        }
      }
    }
  }
}

.box {
  background-color: index.$white;
  padding: index.$small;
  margin: index.$xsmall;
  box-shadow: index.$shadow;
}

.btn {
  color: index.$white;
  background-color: index.$black;
  border: none;
  text-transform: uppercase;
  font-size: index.$xsmall;
  cursor: pointer;
}

@media (min-width: 1024px) {
  :host {
    .container {
      padding: index.$xlarge * 2 index.$small;
    }

    .form-box {
      button {
        align-self: flex-start;
        padding: index.$xsmall/2 index.$xlarge*2;
      }
    }
    .result-box {
      table {
        thead {
          font-size: index.$small;
        }
      }
    }
  }
}
